.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.top-offset {
	padding-top: 50px;
}

.container > section {
	position: absolute;
	top: 100px;
	left: 0;
	width: 100%;
	margin: 0 auto;

	text-align: center;
	opacity: 1;
}

.container > section:not(:first-child) {
  opacity: 0;
}